<h2>Cars</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">CarId</th>
        <th scope="col">Car Name</th>
        <th scope="col">Brand Name</th>
        <th scope="col">Color</th>
        <th scope="col">Daily Price</th>
        <th scope="col">Findeks Point</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of cars">
        <td>{{car.carId}}</td>
        <td>{{car.carName}}</td>
        <td>{{car.brandName}}</td>
        <td>{{car.colorName}}</td>
        <td>{{car.dailyPrice}}</td>
        <td>{{car.findeksPoint}}</td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
              aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/cars/car/{{car.carId}}">View</a></li>
              <li><a class="dropdown-item" (click)="delete(car.carId)" style="cursor: pointer;">Delete</a></li>
              <li><a class="dropdown-item" routerLink="/cars/car/{{car.carId}}">Update</a></li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="container">
    <div class="row justify-content-center" *ngIf="!cars">
      <div class="spinner-border text-primary" style="width: 300px; height: 300px;" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
  </div>
  <div>
    <button type="button" routerLink="/cars/add-car" routerLinkActive="router-link-active"  class="btn btn-primary">
      <span class="material-symbols-outlined">
        settings
      </span>
      </button>
  </div>
</div>