<div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="container-fluid">
          <section class="py-3 text-center container">
            <div class="row py-lg-5">
              <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">
                  <!-- Welcome <strong>{{ claims.fullName }}</strong> -->
                </h1>
                <p class="lead text-muted">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam iure voluptatibus excepturi adipisci natus fugit unde, minima quia sed praesentium suscipit fuga corporis iusto! Iusto non eveniet sunt distinctio voluptatem.
                </p>
              </div>
            </div>
          </section>
  
          <div class="album py-5">
            <div class="container">
  
              <app-user-rentals></app-user-rentals>
  
              <app-user-favorites></app-user-favorites>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  