<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <span class="icon-close2" (click)="menuToggle()"></span>
    </div>
  </div>
  <div>
    <ul class="site-menu main-menu ml-auto" style="list-style-type: none;font-size: 20px">
      <li class="nav-item mb-2">
        <a class="nav-link" (click)="menuToggle()" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"
          [routerLink]="'/'">Home</a>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link" (click)="menuToggle()" routerLinkActive="active" [routerLink]="['/cars']">Cars</a>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link" (click)="menuToggle()" routerLinkActive="active" [routerLink]="['/brands']">Brands</a>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link" (click)="menuToggle()" routerLinkActive="active" [routerLink]="['/about']">About Us</a>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link" (click)="menuToggle()" routerLinkActive="active" [routerLink]="['/contact']">Contact Us</a>
      </li>
      <li class="nav-item mb-2" *ngIf="!(isAuthenticated | async)">
        <a class="nav-link" (click)="menuToggle()" routerLinkActive="active" [routerLink]="['/auth']">Login</a>
      </li>
      <li class="nav-item mb-2" *ngIf="(isAuthenticated | async)">
        <div class="dropdown-center">
          <button class="btn btn-secondary dropdown-toggle" style="font-size: 0px;" type="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <span class="material-symbols-outlined" style="font-size: 23px;">
              person
            </span>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="menuToggle()" routerLink="/user">Profil</a></li>
            <li><a class="dropdown-item" (click)="menuToggle()" routerLink="/favorites">Favorites</a></li>
            <li><a class="dropdown-item" (click)="menuToggle()" routerLink="/user/rentals">Rentals</a></li>
            <li><a class="dropdown-item" (click)="menuToggle()" *ngIf="(isAdmin | async)" routerLink="/admin">Admin Page</a>
            </li>
            <li><a class="dropdown-item" (click)="onLogoutWithToggle($event)">Log Out</a></li>
          </ul>
        </div>
      </li>
    </ul>



  </div>
</div>

<header class="site-navbar site-navbar-target" role="banner">

  <div class="container">
    <div class="row align-items-center position-relative">

      <div class="col-3">
        <div class="site-logo">
          <a routerLink="/" ><strong>MyRentACar</strong></a>
        </div>
      </div>

      <div class="col-9  text-right">

        <span (click)="menuToggle()" class="d-inline-block d-lg-none"><a class=" site-menu-toggle  py-5 "><span
              class="icon-menu h3 text-black"></span></a></span>

        <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
          <ul class="site-menu main-menu js-clone-nav ml-auto ">

            <li class="nav-item">
              <a class="nav-link" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"
                [routerLink]="'/'">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/cars']">Cars</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/brands']">Brands</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/about']">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/contact']">Contact Us</a>
            </li>
            <li class="nav-item" *ngIf="!(isAuthenticated | async)">
              <a class="nav-link js-clone-nav" routerLinkActive="active" [routerLink]="['/auth']">Login</a>
            </li>
            <li class="nav-item" *ngIf="(isAuthenticated | async)">
              <div class="dropdown-center">
                <button class="btn btn-secondary dropdown-toggle" style="font-size: 0px;" type="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="material-symbols-outlined" style="font-size: 23px;">
                    person
                  </span>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" routerLink="/user">Profil</a></li>
                  <li><a class="dropdown-item" routerLink="/favorites">Favorites</a></li>
                  <li><a class="dropdown-item" routerLink="/user/rentals">Rentals</a></li>
                  <li><a class="dropdown-item" *ngIf="(isAdmin | async)" routerLink="/admin">Admin Page</a></li>
                  <li><a class="dropdown-item" (click)="onLogout($event)">Log Out</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
      </div>


    </div>
  </div>

</header>