<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="caption">
            <h2>Welcome to Rent A Car</h2>
            <div class="line-dec"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos esse itaque illum nulla dolor, nam saepe id
              maiores voluptatum repellendus sint. Officia ab repellendus provident?
              <br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, deserunt sint? Eum
              necessitatibus reiciendis dolorum.
            </p>
            <div class="main-button">
              <a [routerLink]="['/cars']">Rent Now!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Banner Ends Here -->
  
  <!-- Featured Starts Here -->
  <div class="featured-items">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <div class="line-dec"></div>
            <h1>Featured Brands</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  <!-- Featred Ends Here -->
  
  
  
  
  
  <!-- Subscribe Form Starts Here -->
  
  <!-- <subscribe-form></subscribe-form> -->
  
  <!-- Subscribe Form Ends Here -->