<!-- 
<div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="caption">
            <h2>Welcome to Rent A Car</h2>
            <div class="line-dec"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos esse itaque illum nulla dolor, nam saepe id
              maiores voluptatum repellendus sint. Officia ab repellendus provident?
              <br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, deserunt sint? Eum
              necessitatibus reiciendis dolorum.
            </p>
            <div class="main-button">
              <a [routerLink]="['/cars']">Rent Now!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="featured-items">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <div class="line-dec"></div>
            <h1>Featured Brands</h1>
            <app-brands></app-brands>
          </div>
        </div>
      </div>
    </div>
  </div>
  
   -->

   <div class="site-wrap" id="home-section">

    <div class="hero" style="background-image: url('assets/images/hero_1_a.jpg');">
      
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-10">

            <div class="row mb-5">
              <div class="col-lg-7 intro">
                <h1><strong>Rent a car</strong> is within your </h1>
                <h1>finger tips.</h1>
              </div>
            </div>
            
            <div class="banner">
                    <div class="caption">
                      <h2>Welcome to Rent A Car</h2>
                      <div class="line-dec"></div>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos esse itaque illum nulla dolor, nam saepe id
                        maiores voluptatum repellendus sint. Officia ab repellendus provident?
                        <br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, deserunt sint? Eum
                        necessitatibus reiciendis dolorum.
                      </p>
                      <div class="main-button">
                        <a [routerLink]="['/cars']">Rent Now!</a>
                      </div>
                    </div>
            </div>

          </div>
        </div>
      </div>
    </div>



    <div class="site-section hiw">
      <div class="container">
        <h2 class="section-heading"><strong>How it works?</strong></h2>
        <p class="mb-5">Easy steps to get you started</p>    

        <div class="row mb-5 hiw" >
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="step">
              <span>1</span>
              <div class="step-inner">
                <span class="number text-primary">01.</span>
                <h3>Select a car</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, laboriosam!</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="step">
              <span>2</span>
              <div class="step-inner">
                <span class="number text-primary">02.</span>
                <h3>Select Dates</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, laboriosam!</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="step">
              <span>3</span>
              <div class="step-inner">
                <span class="number text-primary">03.</span>
                <h3>Payment</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, laboriosam!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="site-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-7 text-center order-lg-2">
            <div class="img-wrap-1 mb-5">
              <img src="assets/images/feature_01.png" alt="Image" class="img-fluid">
            </div>
          </div>
          <div class="col-lg-4 ml-auto order-lg-1">
            <h3 class="mb-4 section-heading"><strong>Lorem ipsum dolor sit amet consectetur elit.</strong></h3>
            <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, explicabo iste a labore id est quas, doloremque veritatis! Provident odit pariatur dolorem quisquam, voluptatibus voluptates optio accusamus, vel quasi quidem!</p>
            
            <p><a [routerLink]="['/contact']" class="btn btn-primary">Contact Us</a></p>
          </div>
        </div>
      </div>
    </div>

    

  <div class="site-section bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <h2 class="section-heading"><strong>Featured Brands</strong></h2>
          <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>    
        </div>
      </div>

      <app-brands style="text-align: center;"></app-brands>
    </div>
  </div>

  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <h2 class="section-heading"><strong>Features</strong></h2>
          <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>    
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 mb-5">
          <div class="service-1 dark">
            <span class="service-1-icon">
              <span class="icon-home"></span>
            </span>
            <div class="service-1-contents">
              <h3>Lorem ipsum dolor</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.</p>
              <p class="mb-0"><a href="#">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-5">
          <div class="service-1 dark">
            <span class="service-1-icon">
              <span class="icon-gear"></span>
            </span>
            <div class="service-1-contents">
              <h3>Lorem ipsum dolor</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.</p>
              <p class="mb-0"><a href="#">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-5">
          <div class="service-1 dark">
            <span class="service-1-icon">
              <span class="icon-watch_later"></span>
            </span>
            <div class="service-1-contents">
              <h3>Lorem ipsum dolor</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.</p>
              <p class="mb-0"><a href="#">Learn more</a></p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 mb-5">
          <div class="service-1 dark">
            <span class="service-1-icon">
              <span class="icon-verified_user"></span>
            </span>
            <div class="service-1-contents">
              <h3>Lorem ipsum dolor</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.</p>
              <p class="mb-0"><a href="#">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-5">
          <div class="service-1 dark">
            <span class="service-1-icon">
              <span class="icon-video_library"></span>
            </span>
            <div class="service-1-contents">
              <h3>Lorem ipsum dolor</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.</p>
              <p class="mb-0"><a href="#">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-5">
          <div class="service-1 dark">
            <span class="service-1-icon">
              <span class="icon-vpn_key"></span>
            </span>
            <div class="service-1-contents">
              <h3>Lorem ipsum dolor</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.</p>
              <p class="mb-0"><a href="#">Learn more</a></p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <app-testimonials></app-testimonials>

  <div class="site-section bg-primary py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7 mb-4 mb-md-0">
          <h2 class="mb-0 text-white">What are you waiting for?</h2>
          <p class="mb-0 opa-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.</p>
        </div>
        <div class="col-lg-5 text-md-right">
          <a [routerLink]="['/cars']" class="btn btn-primary btn-white">Rent a car now</a>
        </div>
      </div>
    </div>
  </div>

    
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <h2 class="footer-heading mb-4">About Us</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
            <ul class="list-unstyled social">
              <li><a href="#"><span class="icon-facebook"></span></a></li>
              <li><a href="#"><span class="icon-instagram"></span></a></li>
              <li><a href="#"><span class="icon-twitter"></span></a></li>
              <li><a href="#"><span class="icon-linkedin"></span></a></li>
            </ul>
          </div>
          <div class="col-lg-8 ml-auto">
            <div class="row">
              <div class="col-lg-3">
                <h2 class="footer-heading mb-4">Quick Links</h2>
                <ul class="list-unstyled">
                  <li><a [routerLink]="['/about']">About Us</a></li>
                  <li><a [routerLink]="['/testimonials']">Testimonials</a></li>
                  <li><a >Terms of Service</a></li>
                  <li><a >Privacy</a></li>
                  <li><a [routerLink]="['/contact']">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-lg-3">
                <h2 class="footer-heading mb-4">Resources</h2>
                <ul class="list-unstyled">
                  <li><a [routerLink]="['/about']">About Us</a></li>
                  <li><a [routerLink]="['/testimonials']">Testimonials</a></li>
                  <li><a >Terms of Service</a></li>
                  <li><a >Privacy</a></li>
                  <li><a [routerLink]="['/contact']">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-lg-3">
                <h2 class="footer-heading mb-4">Support</h2>
                <ul class="list-unstyled">
                  <li><a [routerLink]="['/about']">About Us</a></li>
                  <li><a [routerLink]="['/testimonials']">Testimonials</a></li>
                  <li><a >Terms of Service</a></li>
                  <li><a >Privacy</a></li>
                  <li><a [routerLink]="['/contact']">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-lg-3">
                <h2 class="footer-heading mb-4">Company</h2>
                <ul class="list-unstyled">
                  <li><a [routerLink]="['/about']">About Us</a></li>
                  <li><a [routerLink]="['/testimonials']">Testimonials</a></li>
                  <li><a >Terms of Service</a></li>
                  <li><a >Privacy</a></li>
                  <li><a [routerLink]="['/contact']">Contact Us</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
              <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            </div>
          </div>

        </div>
      </div>
    </footer>

  </div>
