<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
    <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <span class="fs-4">Welcome AdminName</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="dashboard" routerLinkActive="active" class="nav-link link-dark" aria-current="page">
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="car-list" routerLinkActive="active" class="nav-link link-dark" aria-current="page">
          Cars
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="brand-list" routerLinkActive="active" class="nav-link link-dark" aria-current="page">
          Brands
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="user-list" routerLinkActive="active" class="nav-link link-dark" aria-current="page">
          Users
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="rental-list" routerLinkActive="active" class="nav-link link-dark" aria-current="page">
          Rentals
        </a>
      </li>
    </ul>
    <hr>
  </div>