<mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Alış - Teslim Tarihi Seçiniz</mat-label>
    <mat-date-range-input
      [formGroup]="campaignOne"
      [rangePicker]="campaignOnePicker">
      <input matStartDate placeholder="Start date" formControlName="rentDate">
      <input matEndDate placeholder="End date" formControlName="returnDate">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
    <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
  </mat-form-field>

  <div class="card-body">

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Submit
    </button>
    <!-- <button class="btn btn-success" (click)="rentACar()">Kirala</button> -->
  </div>

  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel">Ödeme Bilgileri</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row justify-content-center">
            <div class="card">
                <form style="padding: 10px;" [formGroup]="paymentForm">
                    <div class="mb-3 form-group">
                      <label for="cardName" class="form-label">Cardholder Name</label>
                      <input type="text" class="form-control"  formControlName="cardName" id="cardName">
                    </div>
                    <div class="mb-3 form-group">
                      <label for="creditCardNumber" class="form-label">Card Number</label>
                      <input type="number" class="form-control" id="cardNumber" formControlName="cardNumber" (input)="limitInputLength($event)" maxlength="16">
                    </div>
                    <div class="row">
                      <div class="mb-3 col-md-6 form-group">
                        <label for="expirationDate" class="form-label">Expiration Date</label>
                        <input type="number" class="form-control" id="expirationDate"  (input)="limitInputLengthDate($event)"  maxlength="4" min="0"  formControlName="expirationDate">
                      </div>
                      <div class="mb-3 col-md-6 form-group">
                        <label for="securityCode" class="form-label">Card Verification Code (CVC)</label>
                        <input type="number" class="form-control" id="securityCode" maxlength="3" (input)="limitInputLengthCCV($event)"  min="0" formControlName="securityCode">
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="payment()" >Payment</button>
                  </form>
            </div>
        </div>
        </div>
        <div class="modal-footer">
          
        </div>
      </div>
    </div>
  </div>