<mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Alış - Teslim Tarihi Seçiniz</mat-label>
    <mat-date-range-input
      [formGroup]="campaignOne"
      [rangePicker]="campaignOnePicker">
      <input matStartDate placeholder="Start date" formControlName="rentDate">
      <input matEndDate placeholder="End date" formControlName="returnDate">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
    <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
  </mat-form-field>

  <div *ngIf="!isPaymentSuccess" class="card-body">
    <button  class="btn btn-primary" (click)="getForm()">
      Submit
    </button>
    <iframe id="iyzipay-checkout-form" class="popup" *ngIf="trustedUrl" style="height: 800px; width: 500px;" [srcdoc]="trustedUrl" frameborder="0"></iframe>
  </div>

  <div *ngIf="isPaymentSuccess">
  <h1>{{success}}</h1>
 </div>