<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-3">
        <form class="trip-form media-query" [formGroup]="carFilterForm">

          <div class="row align-items-center">
            <div class="mb-3 mb-md-0 col-md-4">
              <select class="form-select" id="brandId" formControlName="brandId" aria-label="Default select example">
                <option value="">Select Brand</option>
                <option *ngFor="let brand of brands" [ngValue]=brand.brandId>
                  {{ brand.brandName }}
                </option>
              </select>
            </div>
            <div class="mb-3 mb-md-0 col-md-4">
              <select class="form-select" id="colorId" formControlName="colorId" aria-label="Default select example">
                <option value="">Select Color</option>
                <option *ngFor="let color of colors" [ngValue]=color.colorId>
                  {{ color.colorName }}
                </option>
              </select>
            </div>

            <div class="mb-3 mb-md-0 col-md-4">
              <input type="submit" value="Filter" (click)="filter()" class="btn btn-primary btn-block py-3">
            </div>

            <div class="mb-3 mb-md-0 col-md-4">
              <input type="submit" value="Remove Filter" *ngIf="removeFilter" (click)="removeFilterbtn()"
                class="btn btn-danger btn-block py-3">
            </div>



          </div>

        </form>
      </div>
      <div class="col-lg-6 " style="padding-right: 30px; padding-left: 30px;">
        <div class="row align-items-center">
          <div class="trip-form trip-form-query">
            <div class="input-group media-query-search" style="padding-bottom: 19px; "  >
              <input placeholder="Enter a car name" [(ngModel)]="filterText" id="filterText" type="text"
                class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="alert alert-primary mt-2" *ngIf="filterText">
              Searched for car name {{ filterText }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="site-section bg-light " style="margin-top: 0px; padding-top: 0px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">

      </div>
      <div class="featured-page mt-0 pt-0">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="section-heading">
                <div class="line-dec mt-4"></div>
                <h1>Featured Items</h1>
              </div>
            </div>
            <div class="row media-query-2">
              <div class="col text-center">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Sort By
                  </button>
                  <ul id="filters" class="dropdown-menu button-group">
                    <li><button class="btn btn-primary" (click)="sortAll()"> All</button></li>
                    <li><button class="btn btn-primary" (click)="sortLow()"> Low Price</button></li>
                    <li><button class="btn btn-primary" (click)="sortHigh()"> Hight Price</button></li>
                  </ul>
                </div>
              </div>
              <div class="col text-center">
                <button type="button" style="padding-bottom: 7px; padding-top: 7px; padding-right: 17px; padding-left:17px;" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  Filter By
                </button>
              </div>
            </div>


            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel">Filter By</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="row justify-content-center">
                      <div class="card">
                        <form class="trip-form" [formGroup]="carFilterForm">

                          <div class="row align-items-center">
                            <div class="mb-3 mb-md-0 col-md-4">
                              <select class="form-select" id="brandId" formControlName="brandId" aria-label="Default select example">
                                <option value="">Select Brand</option>
                                <option *ngFor="let brand of brands" [ngValue]=brand.brandId>
                                  {{ brand.brandName }}
                                </option>
                              </select>
                            </div>
                            <div class="mb-3 mb-md-0 col-md-4">
                              <select class="form-select" id="colorId" formControlName="colorId" aria-label="Default select example">
                                <option value="">Select Color</option>
                                <option *ngFor="let color of colors" [ngValue]=color.colorId>
                                  {{ color.colorName }}
                                </option>
                              </select>
                            </div>
                
                            <div class="mb-3 mb-md-0 col-md-4">
                              <input type="submit" value="Filter" (click)="filter()" class="btn btn-primary btn-block py-3">
                            </div>
                
                            <div class="mb-3 mb-md-0 col-md-4">
                              <input type="submit" value="Remove Filter" *ngIf="removeFilter" (click)="removeFilterbtn()"
                                class="btn btn-danger btn-block py-3">
                            </div>
                
                
                
                          </div>
                
                        </form>
                      </div>
                  </div>
                  </div>
                  <div class="modal-footer">
                    
                  </div>
                </div>
              </div>
            </div>





            



            <div class="col-md-8 col-sm-12 media-query mt-3" >
              <div id="filters" class="button-group" style="text-align: end;">
                <button class="btn btn-primary" (click)="sortAll()"> All</button>
                <button class="btn btn-primary" (click)="sortLow()"> Low Price</button>
                <button class="btn btn-primary" (click)="sortHigh()"> Hight Price</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="cars&&!filterText">
      <div *ngFor="let car of carsSlice | filter:filterText " class="col" class="col-md-6 col-lg-4 mb-4">
        <div class="listing d-block  align-items-stretch">
          <div class="listing-img h-100 mr-4">
            <img style="height: 200px;" *ngIf="car.imageData != null" [src]="'data:image/jpg;base64,' + car.imageData" class="d-block w-100"
              class="card-img-top img-fluid" alt="..." />
            <img *ngIf="car.imageData == null " src="assets/images/DefaultImage.jpg" class="card-img-top img-fluid"
              alt="..." />
          </div>
          <div class="listing-contents h-100">
            <h3> {{car.carName}} </h3>
            <div class="rent-price">
              <strong> ${{car.dailyPrice}} </strong><span class="mx-1">/</span>day
            </div>
            <div class="d-block d-md-flex mb-3 border-bottom pb-3">
              <div class="listing-feature pr-4">
                <span class="caption">Luggage:</span>
                <span class="number">8</span>
              </div>
              <div class="listing-feature pr-4">
                <span class="caption">Doors:</span>
                <span class="number">4</span>
              </div>
              <div class="listing-feature pr-4">
                <span class="caption">Passenger:</span>
                <span class="number">4</span>
              </div>
            </div>
            <div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos eos at eum, voluptatem quibusdam.</p>
              <p><a [routerLink]="['car', car.carId]" class="btn btn-primary btn-sm">Rent Now</a></p>
            </div>
          </div>
        </div>
      </div>
      <mat-paginator [length]="paginatorLength()" [pageSize]="12" aria-label="Select page"
        (page)="OnPageChange($event)">
      </mat-paginator>
    </div>

    <div class="row" *ngIf="cars&&filterText">
      <div *ngFor="let car of cars | filter:filterText " class="col" class="col-md-6 col-lg-4 mb-4">
        <div class="listing d-block  align-items-stretch">
          <div class="listing-img h-100 mr-4">
            <img style="height: 200px; object-fit: contain;" style="max-height: 150px;" *ngIf="car.imageData != null" [src]="'data:image/jpg;base64,' + car.imageData" class="d-block w-100"
              class="card-img-top img-fluid" alt="..." />
            <img *ngIf="car.imageData == null " src="assets/images/DefaultImage.jpg" class="card-img-top img-fluid"
              alt="..." />
          </div>
          <div class="listing-contents h-100">
            <h3> {{car.carName}} </h3>
            <div class="rent-price">
              <strong> ${{car.dailyPrice}} </strong><span class="mx-1">/</span>day
            </div>
            <div class="d-block d-md-flex mb-3 border-bottom pb-3">
              <div class="listing-feature pr-4">
                <span class="caption">Luggage:</span>
                <span class="number">8</span>
              </div>
              <div class="listing-feature pr-4">
                <span class="caption">Doors:</span>
                <span class="number">4</span>
              </div>
              <div class="listing-feature pr-4">
                <span class="caption">Passenger:</span>
                <span class="number">4</span>
              </div>
            </div>
            <div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos eos at eum, voluptatem quibusdam.</p>
              <p><a [routerLink]="['car', car.carId]" class="btn btn-primary btn-sm">Rent Now</a></p>
            </div>
          </div>
        </div>
      </div>
      <mat-paginator [length]="paginatorLength()" [pageSize]="12" aria-label="Select page"
        (page)="OnPageChange($event)">
      </mat-paginator>
    </div>
  </div>
</div>